<div class="m-ft1">
<div class="g-row">

<div class="item">
<div class="m-serviceTel">
<h4 class="hd">Customer Support</h4>
<p class="phone">Phone: 0086-13813800000</p>
<p class="datetime">Email: JewelryAtMe@gmail.com<br>Facebook: WorldOfDecoration</p>
</div>
</div>

<div class="item">
<div class="m-whatIsYX">
<h4 class="hd">WorldOfDecoration</h4>
<p class="desc">
WorldOfDecoration 主要生产耳环、项链、手链、手镯、钥匙扣、胸针、戒指、书签、挂包器、镜盒、吊坠、发饰、香膏盒系列等流行饰品及工艺礼品。产品销往世界各地。
</p>
</div>
</div>

<div class="item">
<div class="m-whatIsYX">
<h4 class="hd">Address</h4>
<p class="desc">
Address: 中国广东省广州市XXX工业园
</p>
</div>
</div>

</div>
</div>