<!DOCTYPE html>
<html class="js rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow">

<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- head -->
<header class="g-hd" id="gTopbar">
<div id="j-siteNav" class="m-siteNav">
<div class="g-row">
<p class="declare">JewelryAtMe: 耳环、项链、手链、手镯、钥匙扣、胸针、戒指、书签、挂包器、镜盒、吊坠、发饰、香膏盒系列等饰品及工艺礼品批发。</p>
<div class="right">
<div class="notice">
<a href="/notice.html" target="_blank">Notice</a>
</div>

<a class="helpCenter" href="/help.html">Help</a>

</div>
</div>
</div>

</header>



<div class="g-bd">
<div class="g-row">
<div class="w-cateBanner" style="background-image: url(/image/banner_a2.jpg)">
<h2>World of Decoration</h2>
</div>
<div class="g-constraint">

<!-- start of m-items -->
<div class="m-items" id="1005003">

<header class="hd">
<p class="title f-clearfix">
<img class="icon w-icon-50 f-left" src="/icon/icon1.png">
<span class="name f-left">小巧的钥匙扣，装饰您的生活</span>
</p>
<p class="desc">
一个小巧的钥匙扣，几个漂亮有型的小物件，<br>每天愉快的心情由此开启。
</p>
</header>

<div class="bd">
<ul class="list">

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="圣诞老人系列" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161343500.jpg" alt="圣诞老人系列" src="/image/20141020161343500.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="圣诞老人系列" target="_blank">
圣诞老人系列
</a>
</h4>
<hr>
<p class="desc">圣诞老人每天带来节日感觉<br>开启好运吧</p>
</div>

</div>
</li>
<!-- end of one item -->

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="./item_detail.html" title="小丑人系列" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161344593.jpg" alt="小丑人系列" src="/image/20141020161344593.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="小丑人系列" target="_blank">
小丑人系列
</a>
</h4>
<hr>
<p class="desc">我很丑<br>可是我每天给大家带来快乐</p>
</div>

</div>
</li>
<!-- end of one item -->

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="Snowman" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161344296.jpg" alt="Snowman" src="/image/20141020161344296.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="Snowman" target="_blank">
Snowman
</a>
</h4>
<hr>
<p class="desc">描述一下。。。。<br>。。。</p>
</div>

</div>
</li>
<!-- end of one item -->

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="五角星宝宝" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161344031.jpg" alt="五角星宝宝" src="/image/20141020161344031.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="五角星宝宝" target="_blank">
五角星宝宝
</a>
</h4>
<hr>
<p class="desc">描述一下。。。。<br>。。。</p>
</div>

</div>
</li>
<!-- end of one item -->

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="唐老鸭" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161343765.jpg" alt="唐老鸭" src="/image/20141020161343765.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="唐老鸭" target="_blank">
唐老鸭
</a>
</h4>
<hr>
<p class="desc">描述一下。。。。<br>。。。</p>
</div>

</div>
</li>
<!-- end of one item -->

</ul>
</div>
</div>
<!-- end of m-items -->

<!-- start of m-items -->
<div class="m-items" id="1005003">

<header class="hd">
<p class="title f-clearfix">
<img class="icon w-icon-50 f-left" src="/icon/icon1.png">
<span class="name f-left">一个精美的项链，打造您的气质</span>
</p>
<p class="desc">
一个精美的项链，凝聚您的选择<br>或高调不奢华，或低调不简陋。
</p>
</header>

<div class="bd">
<ul class="list">

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="水晶项链" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161316781.jpg" alt="水晶项链" src="/image/20141020161316781.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="水晶项链" target="_blank">
水晶项链
</a>
</h4>
<hr>
<p class="desc">描述一下。。。。<br>。。。</p>
</div>

</div>
</li>
<!-- end of one item -->

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="卡通老虎项链" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161316515.jpg" alt="卡通老虎项链" src="/image/20141020161316515.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="卡通老虎项链" target="_blank">
卡通老虎项链
</a>
</h4>
<hr>
<p class="desc">描述一下。。。。<br>。。。</p>
</div>

</div>
</li>
<!-- end of one item -->

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="珍珠项链" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161315437.jpg" alt="珍珠项链" src="/image/20141020161315437.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="珍珠项链" target="_blank">
珍珠项链
</a>
</h4>
<hr>
<p class="desc">描述一下。。。。<br>。。。</p>
</div>

</div>
</li>
<!-- end of one item -->

<!-- start of one item -->
<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail.html" title="百合花项链" target="_blank">
<img class="img j-lazyload" data-original="/image/20141020161315984.jpg" alt="百合花项链" src="/image/20141020161315984.jpg" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail.html" title="百合花项链" target="_blank">
百合花项链
</a>
</h4>
<hr>
<p class="desc">描述一下。。。。<br>。。。</p>
</div>

</div>
</li>
<!-- end of one item -->

</ul>
</div>
</div>
<!-- end of m-items -->

</div>
</div>
</div>



<footer class="g-ft">
  <% include ../partials/footer.ejs %>
</footer>


</body>
</html>
