<!DOCTYPE html>
<html class="js rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow">

<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<p class="desc">Under Construction</p>

<footer class="g-ft">
  <% include ../partials/footer.ejs %>
</footer>


</body>
</html>
